composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

## Composer
composer.phar
/vendor/

## Assets folder
/assets/

## PHPUnit
/.phpunit.cache
/.phpunit.result.cache
/phpcs.xml
/phpunit.xml

# PHP compatibility checker
/php_compat

## npm
/node_modules/
.yarn-integrity
npm-debug.log*
yarn-debug.log*
yarn-error.log*
auth.json
*.tgz

## Logs
*.log

# TypeScript v1 declaration files
typings/

## Environment files
.env

# macOS-specific files
.DS_Store

## PhpStorm
.idea/
